<%- include('common/header'); -%>
<div id="root">
    <div class="loading-message">
        <div class="loader">Loading...</div>
        Loading Application
    </div>
</div>
<%- include('common/footer'); -%>