#globalFooter {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  font-size: .9rem;
  box-sizing: border-box;
  border-top: 1px solid #ccc;

  #language-selector {
    select::-ms-expand {
      display: none;
    }
    select {
      appearance: none;
      padding: .8rem 1rem;
      line-height: 1.1em;
      border: 1px solid #ccc;
      border-radius: 5px;
      background: #fff;

      &:hover {
        cursor: pointer;
        border-color: #888;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
      }
    }
  }

  .right {
    a {
      position: relative;
      top: 1rem;
      padding: 1rem .5rem;
      text-decoration: none;
      color: #2671a6;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}