<div class="dorithsLogoWithIcon">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" class="dorithsIconSvg">><path d="M3 197V33.58s200.29-27.44 187.4 52C174.43 184 3 197 3 197z" fill="#3d9525"/><path d="M3 184V20.58s203.49-27.44 190.39 52C177.17 171 3 184 3 184z" fill="#006cb0"/><path d="M3 171V7.58s205.62-27.44 192.39 52C178.99 158 3 171 3 171z" fill="#f9423a"/></svg>
    <%- include('logo'); -%>
</div>
